In [1]:
import pandas as pd

df = pd.read_csv('1 copy.csv')
df

,Country,Year,Energy Type,Production (GWh),Installed Capacity (MW),Investments (USD),Population,GDP,Energy Consumption,Energy Exports,...,Economic Freedom Index,Ease of Doing Business,Innovation Index,Number of Research Institutions,Number of Renewable Energy Conferences,Number of Renewable Energy Publications,Energy Sector Workforce,Proportion of Energy from Renewables,Public-Private Partnerships in Energy,Regional Renewable Energy Cooperation
0,USA,2011,Solar,85404.690027,5549.794323,5.604125e+09,1064007213,1.775278e+14,369654.644184,93087.198199,...,49.216800,57.678605,76.803228,851,75,6361,511658,25.907895,1,0
1,Australia,2008,Geothermal,22205.069382,43211.593798,6.361886e+08,1033255852,6.435372e+13,771781.636293,1752.536054,...,79.990942,1.761579,48.697825,590,39,9752,974948,95.003547,0,1
2,Canada,2013,Biomass,94102.732038,6139.117212,6.158680e+09,14895124,1.567926e+14,342707.152899,65146.592498,...,94.374040,77.657334,67.334813,101,7,311,326318,67.354539,1,0
3,Japan,2010,Biomass,88771.932910,40323.639260,8.526116e+09,1448827283,1.350464e+14,498839.574253,50257.591014,...,65.143472,44.987734,4.544289,327,3,7708,506078,33.754104,0,0
4,China,2018,Solar,93288.408581,30755.403056,5.086237e+09,1499494307,8.677956e+13,819064.362785,63101.395562,...,86.213626,62.535223,10.287199,985,69,4919,187964,59.509228,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,Japan,2023,Solar,40091.199325,46650.085012,5.589553e+09,819897975,1.110048e+14,574873.698448,57322.038062,...,57.159094,48.878098,60.276930,890,25,9992,883698,29.420472,1,0
2496,Australia,2017,Hydro,9454.189177,28506.752159,5.602669e+09,116522920,1.433965e+14,741594.182522,56635.966737,...,68.969915,85.799679,39.248237,898,77,6484,447626,73.280184,1,1
2497,India,2022,Geothermal,94329.590380,22757.496947,8.590460e+09,1409070574,5.582925e+13,922633.984945,85455.105274,...,32.759424,1.049568,51.281761,602,49,3535,535996,25.217499,0,1
2498,China,2000,Biomass,66206.311515,3530.005331,5.640793e+09,859850706,2.147667e+13,481213.409793,44933.818979,...,60.303422,29.261717,17.238731,520,46,249,21322,7.992712,1,0
2499,France,2010,Hydro,13035.595344,22890.620016,2.736650e+09,436771140,1.300406e+14,673214.512869,25024.616078,...,95.233329,17.336201,26.427988,245,18,389,493060,91.532474,0,0

firstly I should see how many missed values i have ?

In [2]:
df.isnull().sum().sum()

np.int64(0)

Wow, that's amazing. There's no any kind of missed data. Actually, are there any columns that have the wrong type ?

In [4]:
df

,Country,Year,Energy Type,Production (GWh),Installed Capacity (MW),Investments (USD),Population,GDP,Energy Consumption,Energy Exports,...,Economic Freedom Index,Ease of Doing Business,Innovation Index,Number of Research Institutions,Number of Renewable Energy Conferences,Number of Renewable Energy Publications,Energy Sector Workforce,Proportion of Energy from Renewables,Public-Private Partnerships in Energy,Regional Renewable Energy Cooperation
0,USA,2011,Solar,85404.690027,5549.794323,5.604125e+09,1064007213,1.775278e+14,369654.644184,93087.198199,...,49.216800,57.678605,76.803228,851,75,6361,511658,25.907895,1,0
1,Australia,2008,Geothermal,22205.069382,43211.593798,6.361886e+08,1033255852,6.435372e+13,771781.636293,1752.536054,...,79.990942,1.761579,48.697825,590,39,9752,974948,95.003547,0,1
2,Canada,2013,Biomass,94102.732038,6139.117212,6.158680e+09,14895124,1.567926e+14,342707.152899,65146.592498,...,94.374040,77.657334,67.334813,101,7,311,326318,67.354539,1,0
3,Japan,2010,Biomass,88771.932910,40323.639260,8.526116e+09,1448827283,1.350464e+14,498839.574253,50257.591014,...,65.143472,44.987734,4.544289,327,3,7708,506078,33.754104,0,0
4,China,2018,Solar,93288.408581,30755.403056,5.086237e+09,1499494307,8.677956e+13,819064.362785,63101.395562,...,86.213626,62.535223,10.287199,985,69,4919,187964,59.509228,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,Japan,2023,Solar,40091.199325,46650.085012,5.589553e+09,819897975,1.110048e+14,574873.698448,57322.038062,...,57.159094,48.878098,60.276930,890,25,9992,883698,29.420472,1,0
2496,Australia,2017,Hydro,9454.189177,28506.752159,5.602669e+09,116522920,1.433965e+14,741594.182522,56635.966737,...,68.969915,85.799679,39.248237,898,77,6484,447626,73.280184,1,1
2497,India,2022,Geothermal,94329.590380,22757.496947,8.590460e+09,1409070574,5.582925e+13,922633.984945,85455.105274,...,32.759424,1.049568,51.281761,602,49,3535,535996,25.217499,0,1
2498,China,2000,Biomass,66206.311515,3530.005331,5.640793e+09,859850706,2.147667e+13,481213.409793,44933.818979,...,60.303422,29.261717,17.238731,520,46,249,21322,7.992712,1,0
2499,France,2010,Hydro,13035.595344,22890.620016,2.736650e+09,436771140,1.300406e+14,673214.512869,25024.616078,...,95.233329,17.336201,26.427988,245,18,389,493060,91.532474,0,0

Yes. Exist and I need to change them to correct data type!

they are:

    to_int = ["Investment (USD)","GDP","R&D Expenditure","Energy Subsidies","International Aid for Renewables"]
    
    to_bool = ["Government Policies","Renewable Energy Targets","Energy Efficiency Programs","Energy Market Liberalization","Technology Transfer Agreements","Renewable Energy Education Programs","Natural Disasters","Public-Private Partnership in Energy","Regional Renewable Energy Cooperation"]

In [11]:
to_int = ["Investments (USD)","GDP","R&D Expenditure","Energy Subsidies","International Aid for Renewables"]
    
to_bool = ["Government Policies","Renewable Energy Targets","Energy Efficiency Programs","Energy Market Liberalization","Technology Transfer Agreements","Renewable Energy Education Programs","Natural Disasters","Public-Private Partnerships in Energy","Regional Renewable Energy Cooperation"]

In [12]:
df[to_int] = df[to_int].astype(int)
df[to_bool] = df[to_bool].astype(bool)

In [13]:
df[to_bool]

,Government Policies,Renewable Energy Targets,Energy Efficiency Programs,Energy Market Liberalization,Technology Transfer Agreements,Renewable Energy Education Programs,Natural Disasters,Public-Private Partnerships in Energy,Regional Renewable Energy Cooperation
0,True,True,False,False,False,True,False,True,False
1,False,True,True,False,False,True,True,False,True
2,True,True,True,False,True,True,False,True,False
3,True,False,True,True,False,False,True,False,False
4,False,True,False,True,True,False,True,True,False
...,...,...,...,...,...,...,...,...,...
2495,True,False,True,True,True,True,False,True,False
2496,True,True,False,False,False,False,False,True,True
2497,False,False,False,True,False,True,True,False,True
2498,False,True,True,False,False,True,False,True,False
2499,True,False,True,False,True,False,True,False,False

In [14]:
df[to_int]

,Investments (USD),GDP,R&D Expenditure,Energy Subsidies,International Aid for Renewables
0,5604124938,177527818919196,8676561392,168820814,236880384
1,636188589,64353719977940,4421451899,845225474,152507363
2,6158679593,156792558512690,8568534293,257833727,873341258
3,8526116427,135046406195172,9958630991,979826937,799937956
4,5086237221,86779560922578,7608111765,676760614,96971816
...,...,...,...,...,...
2495,5589552882,111004814165409,2326227844,709166460,356496714
2496,5602669394,143396466023350,7455800103,776047933,237741327
2497,8590460017,55829249223422,4338195527,877193979,923731300
2498,5640793179,21476672730099,6444275313,918398143,184129111
2499,2736650391,130040589605730,5041505516,69547005,783507050

everything is great !

Data cleaning is finished. Next step is make dashboard and find problems to eng give solutions !